
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.navbar-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid;
  height: 8vh;
  list-style: none;
}

.Math-Mag {
  font-size: 24px;
}

.li {
  display: flex;
  font-size: 3vh;
}

.li li {
  padding: 1rem;
  transition: 0.3s ease-in-out;
}

.li li:hover {
  scale: 0.95;
  transition: 0.3s ease-in-out;
}

.navbar-container a {
  text-decoration: none;
  color: black;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-top: -30vh;
  font-size: 21px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  text-align: center;
  padding: 20px 0;
}

.top h1 {
  padding: 20px 0;
  font-size: 42px;
}

.bottom {
  width: 70%;
  text-align: center;
  padding-top: 20px;
}

.calculatorPage {
  display: flex;
}

.calculator-h2 {
  font-size: 42px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.Calc-container {
  margin-top: 10vh;
  border: 0.5px solid;
  width: 70vh;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 10vh;
  background-color: rgb(161, 153, 153);
  width: 100%;
  border: none;
  outline: none;
  font-size: 27px;
  text-indent: 5px;
  color: #fff;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding-right: 5px;
}

.row input {
  height: 10vh;
  flex: 1;
  border: 0.5px solid rgb(149, 149, 149);
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.row .button-0 {
  flex: 2;
}

.row .colourButton {
  background-color: rgba(251, 139, 12, 0.894);
}

.Jokes-Section {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.jokes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 80vh;
  border: 2px solid;
  padding: 4px;
  border-radius: 10px;
}

.jokesButton {
  height: 6vh;
  width: 17vh;
  background-color: rgb(38, 233, 233);
  margin-top: 20px;
  border: 2px solid rgb(38, 233, 233);
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.jokesButton:hover {
  scale: 0.96;
}
